/* Remplace les couleurs par des variables  */
@font-face {
	font-family: Delicious;
	src: url('../../resources/Poppins-Regular.ttf');
}

@font-face {
	font-family: Lato;
	src: url('../../resources/Lato-Regular.ttf');
}

.root {
	/* 	-bg-color-light: #F4F6F4; */
	/* 	-text-color-black: #2D3047; */
	/* 	-color-primary: #279AF1; */
	/* 	-color-secondary: #FF9B71; */
	-bg-color-light: #FBFEF9;
	-text-color-black: #191923;
	-color-primary: #347FD5;
	-color-secondary: #FF6201;
	-color-danger: #FF2B0A;
	-color-new: #0CAC64;
}

.label {
	-fx-text-fill: -text-color-black;
	-fx-font: 14px Lato;
}

.text-field {
	-fx-text-fill: -text-color-black;
}

.button {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font: 14px Delicious;
	-fx-text-fill: -bg-color-light;
}

.button:hover {
	-fx-background-color: -text-color-black;
	-fx-text-fill: -bg-color-light;
}

.button:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#topPannel {
	-fx-background-color: -bg-color-light;
	-fx-spacing: 5em;
	-fx-padding: 20, 20, 20, 20;
	-fx-font-size: 1em;
	-fx-alignment: CENTER;
}

#adminBtn {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font: 14 Lato;
	-fx-text-fill: -bg-color-light;
}

#adminBtn:hover {
	-fx-background-color: -text-color-black;
}

#adminBtn:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#documentationBtn {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font-size: 14px;
	-fx-text-fill: -bg-color-light;
	-fx-font: 14 Lato;
}

#documentationBtn:hover {
	-fx-background-color: -text-color-black;
}

#documentationBtn:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#adminBox {
	-fx-background-color: -text-color-black;
	-fx-translate-x: 30em;
	-fx-translate-y: 50;
	-fx-padding: 10 10 10 10;
	-fx-background-radius: 5.0;
}

#textConnect {
	-fx-text-fill: -bg-color-light;
}

#btnConnect:hover {
	-fx-border-color: -bg-color-light;
	-fx-border-radius: 20px;
}

#exportPDFBtn {
	-fx-background-color: -color-new;
}

#exportPDFBtn:hover {
	-fx-background-color: -text-color-black;
}

#documentationBtn:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}
/*--------------- pannel de droite -------------*/
#boxright {
	-fx-background-color: -bg-color-light;
}

#boxRecherche {
	-fx-alignment: CENTER;
	-fx-spacing: 30;
}

#rechercheCb {
	-fx-pref-width: 150;
}

#boxinfos {
	-fx-spacing: 20;
	-fx-font-size: 14px;
	-fx-padding: 10 10 90 10;
	-fx-alignment: CENTER;
}

#boxbtnpdf {
	-fx-alignment: CENTER;
}

#infosLabel {
	-fx-font-size: 20px;
	-fx-font: 22 Lato;
}

#boxright {
	-fx-vgap: 10;
	-fx-alignment: CENTER;
}

.boxCritere {
	-fx-padding: 5 5 5 5;
	-fx-border-color:	-color-secondary;
	-fx-alignment: CENTER;
		-fx-border-radius: 5;
	
}

#crit {
	-fx-font: 14px Delicious;
	-fx-text-fill: -text-color-black;
}

.critereBtn {
	-fx-background-color: -color-danger;
	-fx-font: 14px Delicious;
}

#paneLeft {
	-fx-vgap: 20;
	-fx-alignment: top-center; /*CENTER;*/
	-fx-padding: 20 10 20 10;
	padding: 20 10 20 10;
}
/*
.FormulairePanel.gP1 {
	-fx-padding: 50 50 50 50;
	padding: 50 50 50 50
}
*/
#gP1 {
	-fx-hgap: 10;
	-fx-vgap: 15
}

#gP2 {
	/*-fx-border-insets: 0 0 0 0;*/
	-fx-padding: 15 10 30 0; /* top , right, bottom, left */
	padding: 15 10 30 0;
	/*-fx-alignement: center-right;*/
}

#gP2 .label {
	-fx-padding: 0 10 0 10;
	padding: 0 10 0 10;
	/*-fx-text-alignement : bottom-left;*/
}


#gP2 .text-field {
	/*-fx-alignement: bottom-left;*/
	-fx-pref-width: 70px;
}
/*	-fx-padding: 0 0 0 10;
	padding: 0 0 0 10; */



#tfAnnee {
	-fx-alignement: center-left;
	-fx-pref-width: 70px;
	/*
	-fx-border-insets: 0 0 0 0;
	-fx-padding: 0 0 0 0;
	padding: 0 0 0 0;*/
}

#tfFormation {
	-fx-alignement: center-left;
	/*-fx-text-fill: -color-danger;*/
	-fx-pref-width: 70px;
}

/* test in formulaire btNew */
.button1 {
	-fx-text-fill: -bg-color-light;
	-fx-background-color: -color-new;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-padding: 5;
}

#btDel {
	-fx-background-color: -color-danger;
}
