/* Remplace les couleurs par des variables  */
@font-face {
	font-family: Delicious;
	src: url('../../resources/Poppins-Regular.ttf');
}

@font-face {
	font-family: Lato;
	src: url('../../resources/Lato-Regular.ttf');
}

.root {
	-bg-color-light: #F4F6F4;
	-text-color-black: #2D3047;
	-color-primary: #279AF1;
	-color-secondary: #FF9B71;
}

.label {
	-fx-text-fill: -text-color-black;
	-fx-font: 14 Lato;
}

.text-field {
	-fx-text-fill: -text-color-black;
}

.button {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font: 14 Delicious;
	-fx-text-fill: -bg-color-light;
}

.button:hover {
	-fx-background-color: -text-color-black;
	-fx-text-fill: -bg-color-light;
}

.button:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#topPannel {
	-fx-background-color: -bg-color-light;
	-fx-spacing: 5em;
	-fx-padding: 20, 20, 20, 20;
	-fx-font-size: 1em;
	-fx-alignment: CENTER;
}

#adminBtn {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font: 14 Lato;
	-fx-text-fill: -bg-color-light;
}

#adminBtn:hover {
	-fx-background-color: -text-color-black;
}

#adminBtn:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#documentationBtn {
	-fx-background-color: -color-primary;
	-fx-cursor: hand;
	-fx-font-size: 14px;
	-fx-text-fill: -bg-color-light;
	-fx-font: 14 Lato;
}

#documentationBtn:hover {
	-fx-background-color: -text-color-black;
}

#documentationBtn:pressed {
	-fx-border-color: -text-color-black;
	-fx-border-radius: 5px;
}

#adminBox {
	-fx-background-color: -text-color-black;
	-fx-translate-x: 30em;
	-fx-translate-y: 50;
	-fx-padding: 10 10 10 10;
	-fx-background-radius: 5.0;
}

#textConnect {
	-fx-text-fill: -bg-color-light;
}

#btnConnect:hover {
	-fx-border-color: -bg-color-light;
	-fx-border-radius: 20px;
}

/*--------------- pannel de droite -------------*/
#boxRecherche {
	-fx-alignment: CENTER;
	-fx-spacing: 30;
}

#rechercheCb {
	-fx-pref-width: 150;
}

#boxinfos {
	-fx-spacing: 20;
	-fx-font-size: 14px;
	-fx-padding: 10 10 90 10;
	-fx-alignment: CENTER;
}

#boxbtnpdf {
	-fx-alignment: CENTER;
}

#infosLabel {
	-fx-font-size: 20px;
	-fx-font: 22 Lato;
}

#boxright {
	-fx-vgap: 10;
	-fx-alignment: CENTER;
}

#x {
	
}

#boxcritere1 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#boxcritere2 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#boxcritere3 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#boxcritere4 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#boxcritere5 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#boxcritere6 {
	-fx-padding: 5 5 5 5;
	-fx-background-color: -color-secondary;
	-fx-alignment: CENTER;
	-fx-text-fill: -bg-color-light;
}

#crit {
	-fx-font: 14px Delicious;
	
}

#paneLeft {
	-fx-vgap: 20;
	-fx-alignment: CENTER; 
	-fx-padding: 30 30 30 30;
	padding: 30 30 30 30;
}

.FormulairePanel.gP1 {
	-fx-padding: 50 50 50 50;
	padding : 50 50 50 50
}

#gP1 {
	-fx-hgap: 25;
	-fx-vgap: 10
}

#gP2 {
	-fx-spacing : 15;
	-fx-border-insets : 5 15 15 5;
	-fx-padding : 15 5 15 0; /* top , right, bottom, left */
	padding : 15 5 15 0;
	-fx-hgap: 25;
	-fx-vgap: 15
}
/*
#gP2 .label {
	-fx-padding: 0 20 20 0
}*/

#gP2 .text-field {
	-fx-alignement : center-right;
	-fx-text-fill : red
}
/* test in formulaire btNew */
.button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#btDel{
}
